body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* navbar */ 

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 38px
}

.leftside {
    display: flex;
}

.navbar > .leftside > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.navlink {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navlink a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.navlink:hover {
    border-bottom: 1px solid black;
}

.navlink a:hover {
    color: black;
}

/* background grid */

.website-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item {
    position: relative;
}

.website-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 275px;
    padding-right: 100px;
}

.img-text .subtitle {
    transition: 1s;
    font-weight: 600;
    font-size: 25px;
    color: transparent;
}

.img-text:hover .subtitle {
    font-weight: 600;
    font-size: 25px;
    color: royalblue;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}